a {
  color: #141424;
  text-decoration: underline;
}

img {
  display: inline-block;
  max-width: 100%;
}

.container {
  max-width: 1340px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 70px;
}

.body {
  font-family: 'IBM Plex Sans';
  color: #141424;
  font-size: 20px;
  line-height: 1.45;
  font-weight: 400;
}

.headings {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.45;
  font-weight: 500;
}

.headings.h1 {
  font-size: 2.827em;
  line-height: 1.1;
}

.headings.h2 {
  margin-bottom: 10px;
  font-size: 1.414em;
  line-height: 1.25;
}

.headings.h3 {
  margin-bottom: 10px;
  font-size: 1em;
}

.headings.h1 {
  font-size: 2.827em;
  line-height: 1.1;
}

.nav-logo {
  margin-left: 0px;
  padding-top: 7px;
}

.sub-head {
  font-family: 'IBM Plex Mono';
  color: #d43a0b;
  font-size: 0.6em;
  font-weight: 400;
  text-transform: uppercase;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 11px;
  padding-bottom: 20px;
  background-color: transparent;
}

.sub-block {
  margin-bottom: 60px;
}

.paragraph {
  font-size: 1.414em;
  line-height: 1.25;
}

.nav-link {
  padding-right: 0px;
}

.nav-link.w--current {
  color: #141424;
  text-decoration: underline;
}

.nav-menu {
  font-size: 0.8em;
}

.logo-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.logo-img {
  width: 140px;
  max-height: 55px;
  max-width: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0.85;
  -webkit-filter: contrast(0%);
  filter: contrast(0%);
}

.footer {
  min-height: 10vh;
  margin-top: 160px;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-grid {
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  -ms-grid-columns: 2fr 7fr;
  grid-template-columns: 2fr 7fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-margin {
  margin-bottom: 10px;
  border-radius: 2px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.caption {
  font-family: 'IBM Plex Mono';
  color: #141424;
  font-size: 0.6em;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-internal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  padding-left: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.list-item {
  margin-right: 20px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 77vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-2 {
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.container-2.navigation {
  padding-right: 50px;
  padding-left: 50px;
}

.flex-parent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-parent.wrap {
  margin-right: -20px;
  margin-left: -20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-parent.spaced {
  margin-bottom: 60px;
}

.flex-child {
  margin-right: 20px;
  margin-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-child.central-column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 56%;
  -ms-flex: 0 56%;
  flex: 0 56%;
}

.flex-child.side-column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 20%;
  -ms-flex: 0 20%;
  flex: 0 20%;
}

.flex-child.side-column.spacer {
  background-color: #d1ffe5;
}

.flex-card {
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 43%;
  -ms-flex: 0 43%;
  flex: 0 43%;
}

.tab-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0px 3px;
  background-color: transparent;
}

.tab-links.w--current {
  background-color: transparent;
  text-decoration: underline;
}

.more {
  color: #d43a0b;
}

@media (max-width: 991px) {
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .logo-img {
    margin-right: 30px;
  }
  .footer {
    padding-top: 2em;
  }
  .container-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .container-2.navigation {
    padding-right: 22px;
    padding-left: 22px;
  }
  .flex-child {
    margin-right: 12px;
    margin-left: 12px;
  }
  .flex-child.central-column {
    -webkit-flex-basis: 77%;
    -ms-flex-preferred-size: 77%;
    flex-basis: 77%;
  }
  .flex-child.side-column.buffer {
    display: block;
    -webkit-flex-basis: 10%;
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
  .flex-child.side-column.spacer {
    display: none;
    -webkit-flex-basis: 15%;
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%;
  }
}

@media (max-width: 767px) {
  .container {
    font-size: 16px;
  }
  .nav-link {
    color: #fff;
  }
  .nav-menu {
    padding-top: 10vh;
    background-color: #141424;
  }
  .footer-grid {
    -ms-grid-columns: 4fr 5fr;
    grid-template-columns: 4fr 5fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .brand {
    padding-left: 0px;
  }
  .menu-button {
    padding-right: 0px;
    padding-left: 0px;
  }
  .flex-parent {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .flex-child.central-column {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .flex-child.side-column {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .flex-child.side-column.buffer {
    display: none;
  }
  .flex-child.side-column.spacer {
    display: none;
  }
  .flex-card {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 40%;
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
}

@media (max-width: 479px) {
  .headings.h1 {
    font-size: 1.927em;
  }
  .nav-link.w--current {
    color: #fffe2a;
  }
  .logo-img {
    width: 140px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .nav-internal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .flex-child {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .flex-child.side-column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .flex-card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .tab-links {
    display: block;
  }
}

